@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="body-content">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat tincidunt nisl. Etiam interdum augue quis tellus imperdiet, in vehicula urna aliquam. Phasellus efficitur dolor ac ex ultrices, in luctus nulla lacinia. Donec id diam iaculis, tristique felis et, bibendum sem. Donec id nisl non tellus tristique viverra nec in enim. Aliquam semper arcu dui, vitae malesuada est molestie ut. Cras non tincidunt augue. Nam quis aliquam velit, id tincidunt elit. In iaculis justo in dui consectetur ultricies.
    </p>
    </div>
    <div class="img">
        <img src="download.jpg">
    </div>
</div>