@{
    ViewBag.Title = "Account";
}
<h3>@ViewBag.Message</h3>

    <div class="choice" style="float:left" id="Login">
        <p>Name: <input type="text" style="position:absolute" id="Login"></p>
    </div>
    <div class="choice" style="float:left" id="Login">
        <p>Age: <input type="text" style="position:absolute" ></p>
    </div>
    <div class="choice" style="float:left" id="Login">
        <p>Location: <input type="text" style="position:absolute"></p>
    </div>
