@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <img class="indeximg" src="http://www.volunteersmagazine.com/wp-content/uploads/2017/01/family-volunteering.jpg"
         alt="hackea2018" style="width:120%;height:100%">

    <div class="content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat tincidunt nisl. Etiam
    interdum augue quis tellus imperdiet, in vehicula urna aliquam. Phasellus efficitur dolor ac ex ultrices, in luctus 
    nulla lacinia. Donec id diam iaculis, tristique felis et, bibendum sem. Donec id nisl non tellus tristique viverra 
    nec in enim. Aliquam semper arcu dui, vitae malesuada est molestie ut. Cras non tincidunt augue. Nam quis aliquam 
    velit, id tincidunt elit. In iaculis justo in dui consectetur ultricies.</p></div>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial;
            font-size: 17px;
        }

        .container {
            position: relative;
            max-width: 800px;
            margin:10px;
        }

            .container img {
                vertical-align: middle;
            }

            .container .content {
                position: ;
                bottom: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
                position: absolute;
                margin-left:10%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

    </style>
</div>